body {
    background-color: rgb(255, 255, 255);
    color: #333;
    font-family: sans-serif;
    padding: 50px 0 0 0 ;
}

.container {
    width: 600px; 
    margin: 40px auto;
    /* margin: 0;/* 移除預設邊距 */
    
}

/* 空一格代表指定的元件(.photo裡面的img) */
.photo img {
    max-width: 100%;
    height: auto;
    /* 隨父元件放大縮小（響應式設計） */
    width: 120px;
} 

.photo {
    width: 160px;
    height: 160px;
    margin: 0 auto 8px;
    overflow: hidden;
}

h1 {
    /* border-width: 6px;
    border-color: #000;
    border-style: solid; */
    /* border: 6px solid #444;
    border-radius: 40px; */
    text-align: center;
    border-bottom: 4px solid #ddd;
    padding-bottom: 12px;
    font-size: 28px;
}

.info {
    letter-spacing: 2px;
    line-height: 2;
}

.name {
    /* border-radius: 50%; */
    /* border-radius: 50%;橢圓形
    border-radius: 999px;膠囊狀 */
}

/* .buttons {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
}

.buttons button {
    padding: 24px;
    background-color: #fff;
    border-radius: 40px;
    border-color: #ff6624;
    box-shadow: 0 4px 5px #999;
    color: #ff6624;
}

button:hover{
    background-color: #333;
} */

.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    background-color: #ffffff; 
    border-radius: 50%;
    box-shadow: 0 4px 5px #999;
}

.works {
    display: flex;
    flex-wrap: wrap;/* 換行 */
    justify-content: space-between;
}

/* 三兄弟全部 */
.work-item {
    /*flex-grow: 1;一人分一份，各三分之一*/
    flex-shrink: 0;/* 不縮小 */
    flex-basis: 33.3333%;/* 基礎寬度100除以3，等於33.3333% */
    position: relative;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;/* 尺寸包涵padding及border */
    /* box-shadow: 0 4px 5px #999; */
    line-height: 0;
}

/* 讓圖片符合區塊大小 */
.work-item img {
    max-width: 100%;
    height: auto;
    /*以下兩行讓圖片變正方形*/
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.work-item img:hover {
    filter: blur(2px);
}

.overlay {
    /* 以下三行讓文字上下左右皆居中 */
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    /* 以下四行上下左右皆為0，填滿父元件 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #33333344;
    color: white;
    /* 元件變透明（0-1之間的數字） */
    opacity: 0;
    /* 滑鼠點不到他 */
    pointer-events: none;
}

.work-item:hover .overlay {
    opacity: 1;
}

.works2 {
    display: grid;
    /* grid-template-columns: repeat(3,1fr);
    gap: 4px; */
    grid-template-areas: 
    'w1 w3 w3'
    'w2 w3 w3'
    'w4 w5 w6'
    ;
}

.x1{
    grid-area: w1;
}
.x2{
    grid-area: w2;
}
.x3{
    grid-area: w3;
}
.x4{
    grid-area: w4;
}
.x5{
    grid-area: w5;
}
.x6{
    grid-area: w6;
}

.work-items {
    line-height: 0;
}

.work-items img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}