body {
    background-color: rgb(255, 255, 255);
    font-family: "M PLUS Rounded 1c", sans-serif;


    font-family: "Chiron GoRound TC", sans-serif;
    font-weight: 300;
    padding: 60px 0 0 0;
}



.bar {
    display: flex;
    padding: 10px 60px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px #999;
    z-index: 1000;
    box-sizing: border-box;
}

.logo img {
    width: 40px;
    height: auto;
}

.navigation {
    display: flex;
    gap: 12px;
}

.navigation button {
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 40px;
    border-style: none;
    box-shadow: 0 2px 2px #999;
}

.navigation button a {
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    color: #ff6624;
}

.navigation button:hover {
    background-color: #fafafa;
    outline: 1px solid #ff6624;

}

.container {
    width: 600px;
    margin: 40px auto;
    /* margin: 0;/* 移除預設邊距 */

}

/* 空一格代表指定的元件(.photo裡面的img) */
.photo img {
    max-width: 100%;
    height: auto;
    /* 隨父元件放大縮小（響應式設計） */
    width: 160px;
}

.photo {
    width: 160px;
    height: auto;
    margin: 40px auto;
    overflow: hidden;
}

.h1 {
    /* border-width: 6px;
    border-color: #000;
    border-style: solid; */
    /* border: 6px solid #444;
    border-radius: 40px; */
    text-align: center;
    font-weight: 700;
    font-style: normal;
    border-bottom: 4px solid #ddd;
    padding-bottom: 8px;
    /* font-size: 32px; */
    color: #ff6624;
}

.h2 {
    font-weight: 700;
    font-style: normal;
    margin-top: 40px;
    color: #666;
}

.info {
    letter-spacing: 2px;
    line-height: 2;
}

.h3 {
    font-size: 24px;
    color: #ff6624;
    margin: 80px 0 8px 0;
    padding-bottom: 8px;
    text-align: center;
}

.contact_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.business_card img {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
}

.instagram img {
    width: 24px;
    height: 24px;
}

.mail img {
    width: 24px;
    height: 24px;
}

.contact_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

}

.contact_buttons button {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: start;
    padding: 16px;
    background-color: #fff;
    border-radius: 6px;
    border-style: none;
    box-shadow: 0 2px 2px #999;
    color: #ff6624;
}

.contact_buttons button:hover {
    background-color: #fafafa;
    scale: calc(1.01);
    outline: 1px solid #ff6624;

}

.contact_buttons button a {
    text-decoration: none;
    color: #ff6624;
}

.top a {
    width: 28px;
    height: 28px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 4px 5px #999;
}

.top a:hover {
    background-color: #f6f6f6;
}


.work1 {
    display: flex;
    flex-wrap: wrap;
    /* 換行 */
    justify-content: space-between;
}

/* 三兄弟全部 */
.work1-item {
    /*flex-grow: 1;一人分一份，各三分之一*/
    flex-shrink: 0;
    /* 不縮小 */
    flex-basis: 33.3333%;
    /* 基礎寬度100除以3，等於33.3333% */
    position: relative;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* 尺寸包涵padding及border */
    /* box-shadow: 0 4px 5px #999; */
    line-height: 0;
}

/* 讓圖片符合區塊大小 */
.work1-item img {
    max-width: 100%;
    height: auto;
    /*以下兩行讓圖片變正方形*/
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.work1-item img:hover {
    filter: blur(2px);
}

.work1-item:hover .overlay {
    opacity: 1;
}

.overlay {
    /* 以下三行讓文字上下左右皆居中 */
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    /* 以下四行上下左右皆為0，填滿父元件 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #0000006e;
    font-size: small;
    font-weight: 500;
    color: white;
    /* 元件變透明（0-1之間的數字） */
    opacity: 0;
    /* 滑鼠點不到他 */
    pointer-events: none;
}

.work2 {
    display: flex;
    flex-wrap: wrap;
    /* 換行 */
    justify-content: space-between;
}

/* 三兄弟全部 */
.work2-item {
    /*flex-grow: 1;一人分一份，各三分之一*/
    flex-shrink: 0;
    /* 不縮小 */
    flex-basis: 50%;
    /* 基礎寬度100除以3，等於33.3333% */
    position: relative;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* 尺寸包涵padding及border */
    /* box-shadow: 0 4px 5px #999; */
    line-height: 0;
}

/* 讓圖片符合區塊大小 */
.work2-item img {
    max-width: 100%;
    height: auto;
    /*以下兩行讓圖片變正方形*/
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.work2-item img:hover {
    filter: blur(2px);
}

.work2-item:hover .overlay {
    opacity: 1;
}


.work3 {
    display: grid;
    /* grid-template-columns: repeat(3,1fr);
    gap: 4px; */
    grid-template-areas:
        'w1 w3 w3'
        'w2 w3 w3'
        'w4 w5 w6'
    ;
    margin-bottom: 16px;
}

.x1 {
    grid-area: w1;
}

.x2 {
    grid-area: w2;
}

.x3 {
    grid-area: w3;
}

.x4 {
    grid-area: w4;
}

.x5 {
    grid-area: w5;
}

.x6 {
    grid-area: w6;
}

.work3-item {
    position: relative;
    line-height: 0;
}

.work3-item img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.work3-item img:hover {
    filter: blur(2px);
}

.work3-item:hover .overlay2 {
    opacity: 1;
}

.overlay2 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* 以下四行上下左右皆為0，填滿父元件 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000006e;
    font-size: small;
    font-weight: 500;
    color: white;

    /* 以下三行讓文字上下左右皆居中 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 元件變透明（0-1之間的數字） */
    opacity: 0;
    /* 滑鼠點不到他 */
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
}